version: '3.8'

services:
  grpc-server:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    ports:
      - "50051:50051"

  web-client:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    ports:
      - "5000:5000"
    depends_on:
      - grpc-server